# Ignore data files
data/*.csv
data/*.xlsx
data/*.json

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
.env/

# Ignore OS-specific files
.DS_Store
Thumbs.db
